---
- name: Get join command from master node
  hosts: k8s_master
  become: yes
  gather_facts: no

  tasks:
    - name: Get join command from master node
      shell: kubeadm token create --print-join-command
      register: join_cmd
      changed_when: false

    - name: Show join command (for debug)
      debug:
        msg: "{{ join_cmd.stdout }}"

    - name: Share join command to localhost
      add_host:
        name: localhost
        kube_join_cmd: "{{ join_cmd.stdout }}"

- name: Join worker nodes to Kubernetes cluster
  hosts: k8s_nodes
  become: yes
  gather_facts: no

  tasks:
    - name: Join node to cluster
      ansible.builtin.shell: |
        {{ hostvars['localhost']['kube_join_cmd'] }}
      become: yes
      register: join_result
      changed_when: "'This node has joined' in join_result.stdout"


    - name: Show join result
      debug:
        msg: "{{ join_result.stdout_lines }}"
