{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: default
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
    - host: ""
      http:
        paths:
          # Фронтенд
          - path: {{ .Values.ingress.paths.frontend }}
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ .Values.port.frontend }}
          # Бэкенд
          - path: {{ .Values.ingress.paths.backend }}
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: {{ .Values.port.backend }}
{{- end }}
